body{
    padding: 0px;
    margin: 0px;
    background-image: url(photos/tlo3.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    font-family: 'Century Gothic';
}

.opcje{
    height: 50px;
    width: 46%;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(215, 44, 44, 0.5);
    background: rgba(215, 44, 44, 0.4);
    color: rgba(215, 44, 44, 1);


}

.mainbox{
    width: 40%;
    background-color: beige;
    margin-left: 27%;
    margin-right: 27%;
    height: 709px;
    overflow-y: auto; 
    padding: 3%;
}

.divlogo img{
    width: 46px;
    height: 46px;
    padding: 2px;
    padding-left: 10%;
}

.plus{
    display: flex;
}

.plus img{
    height: 17px;
    width: 17px;
    padding-top: 16px;
    margin-right: 4px;
}

.opcje a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 20px;
}

.opcje a:hover{
    text-decoration: underline;
}

.mainbox h1{
    text-align: center;
    text-decoration: underline;
}

.mainbox p{
    color: black;
    font-size: 22px;
}

.mainbox input[type="text"]{
    width: 80%;
    font-family: 'Century Gothic';
    border: none;
    border-bottom: solid 1px black;
    background-color: beige;
    font-size: 16px;
    
}

.mainbox .opisZdjecia{
    height: 100px;
    margin-top: 10px;
}

.mainbox .tytul{
    height: 30px;
}

.mainbox .plik{
    height: 20px;
    font-size: 15px;
    font-family: 'Century Gothic';
    padding-top: 38px;
}

.mainbox input[type="submit"]{
    height: 50px;
    width: 200px;
    float: right;
    margin-right: 20%;
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    border: none;
    background-color: #ffabab;
    box-shadow: 5px 5px #bf6767;
    font-weight: bold;
}

.mainbox input[type="submit"]:hover{
    text-decoration: underline;
    box-shadow: 4px 3px #bf6767;
}

li{
    margin-bottom: 12px;
}

#p-regulamin{
    font-weight: bold;
    text-decoration-line: underline;
}


th{
    border: solid 1px;
}






















