img{
    position: relative;
}

header{
    background-image: url(photos/photographer-2v2.jpg);
    background-size: cover;
    height: 850px;
    margin: 0px;
    padding: 0px;
    position: relative;
}


body{
    margin: 0px;
    font-family: 'Century Gothic';
    background-color: #dfebda;  
}

ul{
    margin: 0px;
    padding-top: 10px;
    list-style-type: none;
    text-align: right;
    background-color: #6ac261;
    opacity: 0.8;
   
}


li{
    display: inline-block;
    margin: 18px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-right: 10px;
    font-family: 'Century Gothic';
    text-align: right;
    font-size: 30px;
}


a{
    color: black;
    text-decoration: none; 
}

a:hover{
    text-decoration: underline;
}

article{
    padding-top: 100px;
    text-align: center;
}

.firstH1{
    font-size: 40px;
}

.articleG{ 
    display: flex;
    justify-content: space-around;
}

.sekcjeGlowne{
    background-color: #c5d4be;
    margin: 10px;
    box-shadow: 4px 4px #bcebb7;
    flex-basis: 48%;
}

.p1{
    font-size: 20px;
}

/* css na profilowki */
aside{
    text-align: center;
}

.container {
  position: relative;
  width: 50%;
    margin: 5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.asideG{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.h1Gora{
    text-align: center;
    font-size: 50px;
}

footer{
    padding-top: 20px;
    padding-left: 15px;
    background-color: #a6a4a4;
    height: 130px;
}

.stopka{
    font-size: 9px;
    
}